
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Name == "Boitumelo Mi-Amor")
{
    <h2>
        I love you 😍&#10084;
    </h2>
}
else
{
    <h2>You are my friend</h2>
}


